.movie-card{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.5)
};

.no-image{
    background-size: contain;
}

.coating {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-end;
    background-color:  rgb(142,168,191,0.8);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    padding-right: 1vw;
}

.coating h2 {
    text-align: right;
    font-size: 1em;
    width: 50%;
}

.movie-card:hover > .coating{
    opacity: 1;
    visibility: visible;
}

.score{
    display: flex;
    align-items: center;
}

.score p {
    margin-right: 0.5em;
}