.modal-container{
    padding: 3em;
}

.container-movie-detail{
    display: flex;
    justify-content: center;
    background-color: black;
    /* align-items: center; */
    height: 100%;
    padding: 3em;
    color: white;

}

.image-movie{
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px -1px 28px 43px rgba(0,0,0,1) inset;
    -webkit-box-shadow: 0px -1px 28px 43px rgba(0,0,0,1) inset;
    -moz-box-shadow: 0px -1px 28px 43px rgba(0,0,0,1) inset;
}
