.container-movie-detail{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
    color: white;
    flex-wrap: nowrap;
    gap: 2em;
}

.css-hz1bth-MuiDialog-container{
    width: 100%;
}

.css-m9glnp-MuiPaper-root-MuiDialog-paper{
    background-color: black !important;
}

.container-image-movie{
    width: 100%;
    height: 80%;
    position: absolute;
}

.detail-movie{
    padding-top: 35vh; 
    padding-left: 45%;
    padding-right: 1em;
    width: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,0.5);
}

.rating{
    background-color: rgba(255,255,255, 0.2);
    padding: 0.5em;
    border-radius: 5px;
}

.container-actions{
    display: flex;
    width: 35%;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 1.5em;
}

.image-movie{
    width: 60%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px -1px 28px 43px rgba(0,0,0,1) inset;
    -webkit-box-shadow: 0px -1px 28px 43px rgba(0,0,0,1) inset;
    -moz-box-shadow: 0px -1px 28px 43px rgba(0,0,0,1) inset;
    animation-name: transition-image;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
}

@keyframes transition-image {
    0%{
        clip-path: circle(0.5% at 50% 50%);
    }
    100%{
        clip-path: circle(100% at 50% 50%);
    }
}

